<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="B4F.DataMigration.Properties.Settings.TotalGiroConnectionString"
            connectionString="Data Source=145.7.18.2;Initial Catalog=TotalGiro;Persist Security Info=True;User ID=remotebeheer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>