<?xml version="1.0"?>
<configuration>	

	<location path="GeneralOperationsDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Bank Statements, Portfolio: Client Portfolio"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="ExactInterface/ExportExact.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Exact Interface.Export to Exact"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <location path="ExactInterface/ExportComparison.aspx">
    <system.web>
      <authorization>
        <allow roles="Back Office: Exact Interface.Exact Comparison to TotalGiro"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
	
	<location path="GeneralLedger/BankStatementJournals.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Bank Statements"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="GeneralLedger/BankStatementLines.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Bank Statements"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>	
	
	<location path="GeneralLedger/BankStatements.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Bank Statements"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="GeneralLedger/MemorialBookingLines.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Memorial Bookings"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="GeneralLedger/MemorialBookings.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Memorial Bookings"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="GeneralLedger/MemorialJournals.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Memorial Bookings"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="GeneralLedger/TradingBookings.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Trade Bookings"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="GeneralLedger/TradingBookingsLines.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Trade Bookings"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>	

	<location path="GeneralLedger/TradingJournals.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Trade Bookings"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="GeneralLedger/TrialBalance.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.View Trial Balance"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="GeneralLedger/EndYearManagement.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.End Year Management"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="GeneralLedger/Reporting/ClientCashBalance.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Reporting.Client Cash Balance"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="GeneralLedger/Reporting/BelastingDienst.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Reporting.BelastingDienst Reporting"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="MoneyTransfer/MoneyTransferOrder.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Money Transfer.Money Transfer Order"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="MoneyTransfer/ApproveMoneyTransfers.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Money Transfer.Money Transfer Order"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="MoneyTransfer/MoneyTransferOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Money Transfer.Money Transfer Overview"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="MoneyTransfer/GLDSTDOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Money Transfer.GLDSTD Export Overview"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="MoneyTransfer/PredefinedBeneficiaries.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Money Transfer.Maintain Predefined Beneficiaries"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="NonTradeMovements/NTMOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: NonTradeMovements.Non Trade Movement Overview"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="NonTradeMovements/TransferBetweenClients.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: NonTradeMovements.Transfer Between Clients"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>



	<location path="GeneralLedger/ManualSettlementMatching.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: General Ledger.Manual Settlement Matching"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="CorporateActions/DividendDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Corporate Actions.Dividend Details"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CorporateActions/DividendOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Corporate Actions.Dividend Overview"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CorporateActions/BonusDistributionOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Corporate Actions.Bonus Distribution Overview"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CorporateActions/BonusDistributionDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Corporate Actions.Bonus Distribution Details"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CorporateActions/InstrumentConversionOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Back Office: Corporate Actions.Instrument Conversion Overview"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="CorporateActions/InstrumentConversionDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Back Office: Corporate Actions.Instrument Conversion Details"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


</configuration>
