<?xml version="1.0"?>
<configuration>

	<location path="">
		<system.web>
			<authorization>
				<allow roles="Client: Basic, Client: Basic with Disabled Settings, Clients: Client Portfolios, Remisier Employee: Basic"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
  <location path="PortfolioPositions.aspx">
    <system.web>
      <authorization>
        <allow roles="Client: Basic, Client: Basic with Disabled Settings, Client: Restricted, Clients: Client Portfolios, Remisier Employee: Basic"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
