<?xml version="1.0"?>
<configuration>

	<location path="AuditLog.aspx">
		<system.web>
			<authorization>
				<allow roles="Auditing: Audit Log"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="AuditLogDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Auditing: Audit Log Details"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

</configuration>
