<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="B4F.TotalGiro.ApplicationLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <B4F.TotalGiro.ApplicationLayer.Properties.Settings>
            <setting name="B4F_TotalGiro_ApplicationLayer_ReportExecutionEngine_ReportExecutionService"
                serializeAs="String">
                <value>http://10.0.0.34/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="B4F_TotalGiro_ApplicationLayer_ReportExecutionEngine_ReportExecutionService_Credentials"
                serializeAs="String">
                <value>UserName=TFSSETUP; Password=Bits4321; Domain=BORGHOLS</value>
            </setting>
        </B4F.TotalGiro.ApplicationLayer.Properties.Settings>
    </applicationSettings>
</configuration>