<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="B4F.TotalGiro.LINQ.BOAccounts.Properties.Settings.CleopatraConnectionString"
            connectionString="Data Source=145.7.18.2;Initial Catalog=Cleopatra;Persist Security Info=True;User ID=remotebeheer;Password=Hj0efbg?"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>