<?xml version="1.0"?>
<configuration>

    <location path="FeeCalculationsOverview.aspx">
        <system.web>
            <authorization>
                <allow roles="Data Mtce: Fee"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
	
    <location path="FeeRuleOverview.aspx">
        <system.web>
            <authorization>
                <allow roles="Data Mtce: Fee"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
</configuration>
