<?xml version="1.0"?>
<configuration>

	<location path="VirtualFundTestPage.aspx">
		<system.web>
			<authorization>
				<allow roles="VirtualFund: Test Page"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="VirtualFundNavOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="VirtualFund: Nav Calculations"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="NavCalculationsOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="VirtualFund: Nav Calculations"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="NavCalculationDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="VirtualFund: Nav Calculations"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="VirtualFundOverview.aspx">
    <system.web>
      <authorization>
        <allow roles="VirtualFund: Fund Overview"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
