<?xml version="1.0"?>
<configuration>

	<location path="AccountsByInstrument.aspx">
        <system.web>
            <authorization>
                <allow roles="Portfolio: Accounts By Instrument"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="AccountValues.aspx">
        <system.web>
            <authorization>
                <allow roles="Portfolio: Account Values"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="ClientPortfolio.aspx">
        <system.web>
            <authorization>
                <allow roles="Portfolio: Client Portfolio"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="ClosedPositions.aspx">
        <system.web>
            <authorization>
                <allow roles="Portfolio: Client Portfolio"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="PositionTransactions.aspx">
        <system.web>
            <authorization>
                <allow roles="Portfolio: Client Portfolio, Portfolio: Accounts By Instrument"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<location path="Transfer.aspx">
		<system.web>
			<authorization>
				<allow roles="Portfolio: Transfer Positions"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	
	<location path="ClientsCashNoOrders.aspx">
		<system.web>
			<authorization>
				<allow roles="Portfolio: Clients Cash No Orders"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	

</configuration>
