<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="B4F.TotalGiro.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="microsoft.web" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup">
			<section name="converters" type="Microsoft.Web.Configuration.ConvertersSection"/>
		</sectionGroup>
		<sectionGroup name="B4FHibernate">
			<section name="AssembliesToHibernate" type="B4F.TotalGiro.Dal.DALAssemblySectionHandler, B4F.TotalGiro.Dal"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
  <applicationSettings>
    <B4F.TotalGiro.Reports.Properties.Settings>
      <setting name="B4F_TotalGiro_Reports_ReportExecutionEngine_ReportExecutionService" serializeAs="String">
        <value>http://b4f-web.dmz.local/ReportServer/ReportExecution2005.asmx</value>
      </setting>
      <!-- TODO: to be encrypted -->
      <setting name="B4F_TotalGiro_Reports_ReportExecutionEngine_ReportExecutionService_Credentials" serializeAs="String">
        <value>UserName=reportservice; Password=!Paerel123; Domain=DMZ;</value>
      </setting>
    </B4F.TotalGiro.Reports.Properties.Settings>
  </applicationSettings>
  <microsoft.web>
		<converters>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataSetConverter"/>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataRowConverter"/>
			<add type="Microsoft.Web.Script.Serialization.Converters.DataTableConverter"/>
		</converters>
	</microsoft.web>
	<appSettings>
		<add key="RemoteJobManagerUrl" value="tcp://localhost:8085/jobservice/jobmanager"/>
		<add key="ConfigPath" value="C:\hibernate.cfg.xml"/>
		<add key="BOExportFilePath" value="C:\Temp\"/>
		<add key="ResourcePath" value="C:\"/>
		<add key="FSExportFilePath" value="C:\Temp\"/>
		<add key="ExactExportFilePath" value="C:\Temp\"/>
		<add key="MaxDaysNoPriceAlert" value="3"/>
		<add key="GLDSTDFilePath" value="C:\temp\GLDSTD\"/>
		<add key="KasMailID" value="EMKDR1"/>
		<add key="DividWepFilePath" value="C:\Temp\"/>
		<add key="TestEmailRecipients" value="a.istrate@bits4finance.nl"/>
		<add key="UpdatedPermissionsEmailRecipients" value="a.istrate@bits4finance.nl"/>
		<!-- Defaults for General Ledger -->
		<add key="ExactExportMemorialOnly" value="0"/>		
		<add key="DefaultTransactiesEUR" value="14"/>
		<add key="DefaultTransactiesAUD" value="15"/>
		<add key="DefaultTransactiesUSD" value="16"/>
		<add key="DefaultSettlementDifference" value="21"/>
		<add key="DefaultManagementFeeJournal" value="13"/>
		<add key="DefaultClientAdminJournal" value="19"/>
		<add key="DefaultDividendJournal" value="3"/>
		<add key="DefaultAccruedInterestJournal" value="23"/>		
		<!-- Development- and PreProduction = #FFDAB9 (PeachPuff); Production = white -->
		<!--<add key="CustomBGColor" value="#FFDAB9"/>-->
		<add key="CustomBGColor" value="#FFDAB9" />
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="ExportTrace" value="3"/>
		</switches>
	</system.diagnostics>
	<!-- TODO: to be encrypted -->
	<connectionStrings>
    <add name="TotalGiroAspNetDb" connectionString="Server=b4f-sqldev.dmz.local;Database=aspnetdb;User Id=webmaster;Password=Borghols1"/>
    <!--<add name="TotalGiroAspNetDb" connectionString="Server=b4f-sql.dmz.local;Database=aspnetdbDemo;User Id=webmaster;Password=In1uvwd0b."/>-->
    <!--<add name="TotalGiroAspNetDb" connectionString="Server=b4f-sql.dmz.local;Database=aspnetdb;User Id=webmaster;Password=In1uvwd0b."/>-->
  </connectionStrings>
	<system.web>
		<pages validateRequest="true" theme="Neutral" maintainScrollPositionOnPostBack="true" >
			<controls>
				<add namespace="B4F.Web.WebControls" assembly="B4F.Web.WebControls" tagPrefix="b4f"/>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Ajax" />
        <add tagPrefix="dundas" namespace="Dundas.Charting.WebControl" assembly="DundasWebChart"/>
      </controls>
		</pages>
		<!-- ASMX is mapped to a new handler so that proxy javascripts can also be served. -->
		<httpHandlers>
      <add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false"/>
      <remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<!--<trace enabled="true" requestLimit="100" localOnly="false" mostRecent="true" />-->
		<globalization culture="nl-NL" uiCulture="nl-NL"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.DynamicData, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ComponentModel.DataAnnotations, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--<authentication mode="Windows" />-->
		<authentication mode="Forms">
			<forms name="TotalGiroCookie" path="/" loginUrl="Security/Login.aspx" protection="All" timeout="150"/>
		</authentication>
		<!--requireSSL="true"-->
		<!--<authorization>
            <deny users="?" />
            <allow users="*" />
        </authorization>-->
		<customErrors mode="RemoteOnly" defaultRedirect="Security/AppErrors.aspx">
			<!--<error statusCode="404" redirect="NoSuchPage.aspx"/>-->
		</customErrors>
		<httpCookies httpOnlyCookies="true"/>
		<membership defaultProvider="TotalGiroMembershipProvider" userIsOnlineTimeWindow="30">
			<providers>
				<clear/>
				<add name="TotalGiroMembershipProvider" connectionStringName="TotalGiroAspNetDb" applicationName="TotalGiro"
             type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
             requiresUniqueEmail="false" requiresQuestionAndAnswer="false"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="TotalGiroRoleManager">
			<providers>
				<clear/>
				<add name="TotalGiroRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="TotalGiroAspNetDb" applicationName="TotalGiro"/>
			</providers>
		</roleManager>
		<siteMap defaultProvider="AspNetXmlSiteMapProvider" enabled="true">
			<providers>
				<remove name="AspNetXmlSiteMapProvider"/>
				<add name="AspNetXmlSiteMapProvider" description="SiteMap provider that reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider" securityTrimmingEnabled="true" siteMapFile="Web.sitemap"/>
			</providers>
		</siteMap>
	</system.web>
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<!-- This section contains the log4net configuration settings -->
	<log4net>
		<!-- Define some output appenders -->
		<appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender">
			<file value="../../../log/nhibernatelog.log"/>
			<appendToFile value="true"/>
			<maxSizeRollBackups value="2"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %thread %logger - %message%newline"/>
			</layout>
		</appender>
		<appender name="SystemAppender" type="log4net.Appender.RollingFileAppender">
			<file value="../../../log/system.log"/>
			<appendToFile value="true"/>
			<maxSizeRollBackups value="2"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %thread %logger - %message%newline"/>
			</layout>
		</appender>
		<!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->
		<root>
			<level value="ALL"/>
		</root>
		<logger name="NHibernate">
			<level value="INFO"/>
			<appender-ref ref="NHibernateAppender"/>
		</logger>
		<logger name="NHibernate.Loader.Loader">
			<level value="ERROR"/>
			<appender-ref ref="NHibernateAppender"/>
		</logger>
		<logger name="System">
			<level value="ALL"/>
			<appender-ref ref="SystemAppender"/>
		</logger>
	</log4net>
	<B4FHibernate>
		<AssembliesToHibernate>
			<Assemblies>
				<string>B4F.TotalGiro.ApplicationLayer</string>
			</Assemblies>
		</AssembliesToHibernate>
	</B4FHibernate>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/></compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/></compiler></compilers></system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="servicedesk@paerel.nl">
				<network host="honey.borghols.local" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
