<?xml version="1.0"?>
<configuration>

    <location path="InstructionManagement.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Instruction Management"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="InstructionEntry.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Instruction Management, Service Desk: Instruction Management"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<location path="WithdrawalInstructionManagement.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Instruction Management"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<!--<location path="WithdrawalsTriggeringRebalanceInstructions.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Instruction Management"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>-->

	<location path="CreatePeriodicWithdrawalInstructions.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Instruction Management"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<location path="ServiceDeskAdHocWithdrawalManagement.aspx">
        <system.web>
            <authorization>
                <allow roles="Service Desk: Instruction Management"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

</configuration>
