<?xml version="1.0" encoding="utf-8"?>
<Manager type="B4F.TotalGiro.Jobs.Manager.JobManager, B4F.TotalGiro.Jobs.Manager" HeartbeatFrequency="00:00:05">
	<Notifiers type="B4F.TotalGiro.Jobs.Manager.Notifier.SmtpNotifier, B4F.TotalGiro.Jobs.Manager"
		NotifyOnWorkerResultStatus="Warning,Critical,Exception" 
		MaxNotificationFrequency="02:00:00"
		MaxNotificationPeriod="1.00:00:00"
		MaxNotificationCountInPeriod="4"
		SmtpServer="localhost"
		To="SQLbeheer@borghols.com"
			/>
	<Notifiers type="B4F.TotalGiro.Jobs.Manager.Notifier.DBNotifier, B4F.TotalGiro.Jobs.Manager"
		NotifyOnWorkerResultStatus="Warning,Critical,Exception"
		MaxNotificationFrequency="02:00:00"
		MaxNotificationPeriod="1.00:00:00"
		MaxNotificationCountInPeriod="4"
			/>

	<Jobs type="B4F.TotalGiro.Jobs.Manager.AgentJob, B4F.TotalGiro.Jobs.Manager" ID="1"  Name="Begin of Day Job">
		<Schedulers type="B4F.TotalGiro.Jobs.Manager.Scheduler.FixedTimeScheduler, B4F.TotalGiro.Jobs.Manager"
			DaysOfWeek="Weekdays"
			StartTime="08:50:00"
			/>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Get Exchange Rates"
				SequenceNumber="1">
			<Worker type="B4F.TotalGiro.Communicator.Currencies.ECBRates, B4F.TotalGiro.Communicator"
				Name="Get Exchange Rates"
				Description="Get Exchange Rates from ECB">
			</Worker>
			/>
		</JobComponents>
	</Jobs>

	<Jobs type="B4F.TotalGiro.Jobs.Manager.AgentJob, B4F.TotalGiro.Jobs.Manager" ID="3"  Name="End of Day Job">
		<Schedulers type="B4F.TotalGiro.Jobs.Manager.Scheduler.FixedTimeScheduler, B4F.TotalGiro.Jobs.Manager"
			DaysOfWeek="Weekdays"
			StartTime="19:00:00"
			/>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Reset MgtStartDate"
				SequenceNumber="1">
			<Worker type="B4F.TotalGiro.Jobs.Manager.Worker.ADOCommandWorker, B4F.TotalGiro.Jobs.Manager"
				Name="Run sp TG_ResetManagementStartDateForStonoedAccounts"
				Description="Reset MgtStartDate for accounts where all transactions have been stornoed"
				CommandName="TG_ResetManagementStartDateForStonoedAccounts">
			</Worker>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Reset Valuation"
				SequenceNumber="2">
			<Worker type="B4F.TotalGiro.Jobs.Manager.Worker.ADOCommandWorker, B4F.TotalGiro.Jobs.Manager"
				Name="Run sp Reset Valuation"
				Description="Run sp Reset Valuation"
				CommandName="TG_ResetValuations">
				<CommandParams type="B4F.TotalGiro.Jobs.Manager.Worker.ADOCommandWorkerParam, B4F.TotalGiro.Jobs.Manager" 
					Name="@AccountID"
					Value="NULL">
				</CommandParams>
				</Worker>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Valuation Mutation Job"
				SequenceNumber="3"
				AbortWhenPrevJobNotOK="true">
			<Worker type="B4F.TotalGiro.Valuations.ValuationEngine, B4F.TotalGiro.Valuations"
				Name="Valuation Mutations Job"
				Description="Create new Valuation Mutations for new Transactions"
				RunSP_ResetValuations="false"
				Job="ValuationMutations"
				DaysDelay="7"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager"
				Name="Daily Valuation Job"
				SequenceNumber="4"
				AbortWhenPrevJobNotOK="true">
			<Worker type="B4F.TotalGiro.Valuations.ValuationEngine, B4F.TotalGiro.Valuations"
				Name="Daily Valuation Job"
				Description="Create new Valuations"
				Job="DailyValuations"
				DaysDelay="7"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager"
				Name="Average Holdings Job"
				SequenceNumber="5"
				AbortWhenPrevJobNotOK="true">
			<Worker type="B4F.TotalGiro.Valuations.ValuationEngine, B4F.TotalGiro.Valuations"
				Name="Average Holdings Job"
				Description="Create Average Holdings"
				Job="AverageHoldings"
				DaysDelay="7"
				/>
		</JobComponents>
	</Jobs>

	<Jobs type="B4F.TotalGiro.Jobs.Manager.AgentJob, B4F.TotalGiro.Jobs.Manager" ID="4"  Name="Nota EOD Job">
		<Schedulers type="B4F.TotalGiro.Jobs.Manager.Scheduler.FixedTimeScheduler, B4F.TotalGiro.Jobs.Manager"
			DaysOfWeek="Weekdays"
			StartTime="20:00:00"
			/>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Create Vierlander Notas"
				SequenceNumber="1">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.CreateNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Create Vierlander Notas"
				Description="Create new Notas for Vierlander"
				ManagementCompanyID="10"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Print Vierlander Deposit Notas"
				SequenceNumber="2">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.PrintNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Print Vierlander Deposit Notas"
				Description="Print new Deposit Notas for Vierlander"
				ManagementCompanyID="10"
				NotaType="4"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Create Borghols Notas"
				SequenceNumber="3">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.CreateNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Create Borghols Notas"
				Description="Create new Notas for Borghols"
				ManagementCompanyID="5"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Print Borghols Deposit Notas"
				SequenceNumber="4">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.PrintNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Print Borghols Deposit Notas"
				Description="Print new Deposit Notas for Borghols"
				ManagementCompanyID="5"
				NotaType="4"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Create CBAM Notas"
				SequenceNumber="5">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.CreateNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Create CBAM Notas"
				Description="Create new Notas for Cross Border"
				ManagementCompanyID="6"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Print CBAM Deposit Notas"
				SequenceNumber="6">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.PrintNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Print CBAM Deposit Notas"
				Description="Print new Deposit Notas for Cross Border"
				ManagementCompanyID="6"
				NotaType="4"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Create Fidelity Notas"
				SequenceNumber="7">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.CreateNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Create Fidelity Notas"
				Description="Create new Notas for Fidelity"
				ManagementCompanyID="15"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Print Fidelity Deposit Notas"
				SequenceNumber="8">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.PrintNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Print Fidelity Deposit Notas"
				Description="Print new Deposit Notas for Fidelity"
				ManagementCompanyID="15"
				NotaType="4"
				/>
		</JobComponents>
	</Jobs>

	<Jobs type="B4F.TotalGiro.Jobs.Manager.AgentJob, B4F.TotalGiro.Jobs.Manager" ID="5"  Name="Nota Print Job">
		<Schedulers type="B4F.TotalGiro.Jobs.Manager.Scheduler.FixedTimeScheduler, B4F.TotalGiro.Jobs.Manager"
			DaysOfWeek="Sunday"
			StartTime="10:00:00"
			/>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Print Vierlander Notas"
				SequenceNumber="1">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.PrintNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Print Vierlander Notas"
				Description="Print new Notas for Vierlander"
				ManagementCompanyID="10"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Print Borghols Notas"
				SequenceNumber="2">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.PrintNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Print Borghols Notas"
				Description="Print new Notas for Borghols"
				ManagementCompanyID="5"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Print CBAM Notas"
				SequenceNumber="3">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.PrintNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Print CBAM Notas"
				Description="Print new Notas for Cross Border"
				ManagementCompanyID="6"
				/>
		</JobComponents>
		<JobComponents type="B4F.TotalGiro.Jobs.Manager.JobComponent, B4F.TotalGiro.Jobs.Manager" 
				Name="Print Fidelity Notas"
				SequenceNumber="4">
			<Worker type="B4F.TotalGiro.ApplicationLayer.Reports.PrintNotasWorker, B4F.TotalGiro.ApplicationLayer"
				Name="Print Fidelity Notas"
				Description="Print new Notas for Fidelity"
				ManagementCompanyID="15"
				/>
		</JobComponents>
	</Jobs>

	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="Rollback failed with SQL Exception"
		Message="Rollback failed with SQL Exception"
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="Could not perform Insert action"
		Message="Could not perform Insert action"
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="Access is denied."
		Message="Access is denied."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="The RPC server is unavailable."
		Message="The RPC server is unavailable."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="The network path was not found."
		Message="The network path was not found."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="A system shutdown is in progress."
		Message="A system shutdown is in progress."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="The specified network name is no longer available."
		Message="The specified network name is no longer available."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="Windows cannot find the network path. Verify that the network path is correct and the destination computer is not busy or turned off. If Windows still cannot find the network path, contact your network administrator."
		Message="Windows cannot find the network path. Verify that the network path is correct and the destination computer is not busy or turned off. If Windows still cannot find the network path, contact your network administrator."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="The network name cannot be found."
		Message="The network name cannot be found."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="Logon Failure: The target account name is incorrect."
		Message="Logon Failure: The target account name is incorrect."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="The remote procedure call failed."
		Message="The remote procedure call failed."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="The network location cannot be reached. For information about network troubleshooting, see Windows Help."
		Message="The network location cannot be reached. For information about network troubleshooting, see Windows Help."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="Call was canceled by the message filter."
		Message="Call was canceled by the message filter."
	/>
	<IgnorableExceptions type="B4F.TotalGiro.Jobs.Manager.AgentIgnorableException, B4F.TotalGiro.Jobs.Manager"
		Name="The handle is invalid."
		Message="The handle is invalid."
	/>
</Manager>
