<?xml version="1.0"?>
<configuration>

    <location path="CalculationsEdit.aspx">
        <system.web>
            <authorization>
                <allow roles="Calculations Mtce"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="CalculationsOverview.aspx">
        <system.web>
            <authorization>
                <allow roles="Calculations Mtce"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="RuleEdit.aspx">
        <system.web>
            <authorization>
                <allow roles="Calculation Rules Mtce"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="RuleOverview.aspx">
        <system.web>
            <authorization>
                <allow roles="Calculation Rules Mtce"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<location path="TestCommissionRules.aspx">
		<system.web>
			<authorization>
				<allow roles="Calculation Rules Mtce"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
