<?xml version="1.0"?>
<configuration>

    <location path=".">
        <system.web>
            <authorization>
				<allow roles="Tests"/>
				<deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<location path="CashTransactionPage.aspx">
		<system.web>
			<authorization>
				<allow roles="Tests"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

</configuration>
