<?xml version="1.0"?>
<configuration>

	<location path="ManagementFeeOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Asset Manager: Management Fee"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ManagementFeeCorrections.aspx">
		<system.web>
			<authorization>
				<allow roles="Asset Manager: Management Fee Corrections"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="KickbackOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Asset Manager: Kickback"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

</configuration>
