<?xml version="1.0"?>
<configuration>

	<location path="PrintNotas.aspx">
		<system.web>
			<authorization>
				<allow roles="Reports: Notas"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="FinancialReports.aspx">
		<system.web>
			<authorization>
				<allow roles="Reports: Financial Reports"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

</configuration>
