<?xml version="1.0"?>
<configuration>

	<location path="ExternalCastodianPositionEntry.aspx">
		<system.web>
			<authorization>
				<allow roles="Reconciliation: External"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="ReconCurrent.aspx">
		<system.web>
			<authorization>
				<allow roles="Reconciliation: Internal"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="ReconExternal.aspx">
		<system.web>
			<authorization>
				<allow roles="Reconciliation: External"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="ReconInvestigate.aspx">
		<system.web>
			<authorization>
				<allow roles="Reconciliation: Internal"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

</configuration>
