<?xml version="1.0"?>
<configuration>

    <location path="AggOrderChildren.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Aggregate/Send Orders"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="AggregateSend.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Aggregate/Send Orders"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="ApproveOrders.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Approve Orders"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="NewPortfolios.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Create New Portfolios"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="OrderBook.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Order Book"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="SingleOrder.aspx">
        <system.web>
            <authorization>
                <allow roles="Asset Manager: Manual Order"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<!--<location path="ApproveMoneyOrders.aspx">
		<system.web>
			<authorization>
				<allow roles="Asset Manager: Cash Management"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="AggregateSendMoneyOrders.aspx">
		<system.web>
			<authorization>
				<allow roles="Asset Manager: Cash Management"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>-->

	<!--<location path="CashPositionOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Asset Manager: Cash Management"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>-->	
	
</configuration>
