<?xml version="1.0"?>
<configuration>
	<location path="Accounts/Account.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Accounts/AccountOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="Accounts/AttachCommRuleToAccount.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Accounts/WithdrawalRule.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Withdrawal Rule"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Contacts/AttachAccountToContact.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Contacts/AttachCompanyToContactperson.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<location path="Contacts/AttachContactpersonToCompany.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Contacts/AttachCounterAccountToContact.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Contacts/Company.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Contacts/ContactOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Contacts/CounterAccount.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Contacts/Person.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Accounts"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Instruments/AssetManagerInstrumentSelection.aspx">
        <system.web>
            <authorization>
                <allow roles="Data Mtce: Instrument Selection"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<location path="Instruments/DerivativeMaster.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instruments"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Instruments/DerivativeOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instruments"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Instruments/Option.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instruments"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Instruments/Security.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instrument Edit"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Instruments/SecurityOverview.aspx">
        <system.web>
            <authorization>
                <allow roles="Data Mtce: Instruments"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<location path="Instruments/Turbo.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instruments"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Instruments/BondTest.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instruments"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Instruments/BondCouponAccrual.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instruments"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Prices/InstrumentCurrentPrices.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instrument Current Prices"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Prices/InstrumentHistoricalPrices.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instrument Historical Prices"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Prices/InstrumentPriceUpdate.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instrument Historical Prices"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Prices/ImportFundPrices.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Import Files"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Prices/XEConverter.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Instrument Historical Prices"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  
	<location path="Models/ModelMaintenance.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Model Maintenance"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <location path="Lifecycles/LifecycleMaintenance.aspx">
    <system.web>
      <authorization>
        <allow roles="Data Mtce: Lifecycle Maintenance"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Remisier/Remisier.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Remisier Maintenance"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Remisier/RemisierEmployee.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Remisier Maintenance"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Remisier/RemisierOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Remisier Maintenance"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Notifications/NotificationMaintenance.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Notifications"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  
	<location path="BOFilesOverview.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: BO Files"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="ImportFiles.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Import Files"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="JobConsole.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Job Console"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="JobHistory.aspx">
		<system.web>
			<authorization>
				<allow roles="Data Mtce: Job History"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <location path="InitialSettings/AssetManagerOverview.aspx">
    <system.web>
      <authorization>
        <allow roles="Data Mtce: InitialSettings.AssetManager Overview"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="InitialSettings/AssetManagerDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Data Mtce: InitialSettings.AssetManager Details"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="GeneralLedger/JournalOverview.aspx">
    <system.web>
      <authorization>
        <allow roles="Data Mtce: GeneralLedger.Journal Overview"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="GeneralLedger/JournalDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Data Mtce: GeneralLedger.Journal Details"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="GeneralLedger/ExactJournalOverview.aspx">
    <system.web>
      <authorization>
        <allow roles="Data Mtce: GeneralLedger.Exact Journal Overview"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="GeneralLedger/ExactJournalDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Data Mtce: GeneralLedger.Exact Journal Details"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
