<?xml version="1.0"?>
<configuration>

    <location path="AggregateSend.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: Aggregate/Send Orders"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="FSDesk.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: FundSettle Desk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="FSFileOverview.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: FundSettle Desk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="ManualDesk.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: Manual Desk"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

  <location path="ConvertAmountBasedOrders.aspx">
    <system.web>
      <authorization>
        <allow roles="Stichting: Convert Amount-Based Orders"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MidOffice.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: Mid Office"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="OrderBook.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: Order Book"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

	<location path="POSSingleOrder.aspx">
		<system.web>
			<authorization>
				<allow roles="Stichting: Order Book"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!--<location path="AggOrderChildren.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: Aggregate/Send Orders"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>-->

	<!--<location path="ConvertMonetaryOrders.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: Money Orders"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>-->

	<!--<location path="MoneyDesk.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: Money Orders"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

    <location path="MoneyOrderOverview.aspx">
        <system.web>
            <authorization>
                <allow roles="Stichting: Money Orders"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>-->

</configuration>