<?xml version="1.0"?>
<configuration>

    <location path="RoleOverview.aspx">
        <system.web>
            <authorization>
                <allow roles="Administration: Roles"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="UserEdit.aspx">
        <system.web>
            <authorization>
                <allow roles="Administration: Users"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="UserInsert.aspx">
        <system.web>
            <authorization>
                <allow roles="Administration: Users"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    
    <location path="UserOverview.aspx">
        <system.web>
            <authorization>
                <allow roles="Administration: Users"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>

</configuration>

